body{
    margin: 0;
    font-family: 'Montserrat';
    background: #eeeeee;
    font-size: 16px;
    height: 100vh;
}

.container{
    margin: 0 auto;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity:0;
    transform: translate(-2em);
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
}
.logo{
      text-align: left;
      font-weight: bolder;
}
h1{
    margin: 1em 0;
}
p{
    line-height: 1.7rem;
}

.left{
   background: linear-gradient(160deg, #601df7 0%,#BB00ff 50%);
   padding:1em ;
}
h1, p, .logo{
    color: white;
}

.right p {
   margin: 2em 0 1em;
   color: #000;
   font-size: 20px;
}
.light{
    color: rgba(255,255,255,.7)!important;
    margin-top: 2em;
}
input,button{
    width: calc(100% - 5em);
    height: 6vh;
    padding:.2em ;
    font-size: 1.3rem;
    outline: none;
    margin: 1em;
    border: none;
    border-radius: 10px;
}

button{
    width: calc(100% - 7em);
    margin: 0;
    background: #8800ff;
    border: none;
    color: white;
    cursor: pointer;
}


.attention{
    width: 100%;
    margin: .5em auto 0;
    text-align: center;
}
.me{
    width: 2em;
    border-radius: 50%;
    margin-top:.2em;
}
.arrow{
    width: 3em;
    height: 2em;
    transform: scale(-1.9,1.5);
    opacity: 0.5;
}


@media only screen and (min-width:768px){
    body{
        font-size: 20px;
    }
    button{
        width: 60% !important;
    }
    input{
        width: calc(60% - 1em);
    }
}

@media only screen and (min-width:1024px){
    .logo{
        margin: 1em 0 ;
        
    }
    p{
        line-height: 1.7em !important;
    }
    .inner{
        display: grid;
        grid-template-columns: 55% auto;

    }
    .left{
        text-align: left;
        padding:0 2em ;
        height: 100vh;
        display: grid; 
    }
    .content{
        padding:0 3em ;
    }
    h1{
        margin: 0;
        font-size: 2.4em;
    }
    span{
        display: block;
    }
    .right{
        text-align: right;
        align-self:center ;
        padding: 0 2em 1.2em;
        justify-self: center;
    }
    input{
        width: calc(100% - 1em) !important;
        margin: 1em 0 ;
    }
    button{
        width: 100% !important;
    }
    .arrow{
        width: 5em;
        height: 3em;
        transform: scale(-1.9,1.5);
        opacity: 0.5;
    }
    .proto-container{
        clip-path: inset(0 45% 0 0);
         position: absolute;  
         top: 20%;
         height:70%;
         z-index: 0;
         width: 100%;
        pointer-events: none;
    }
    .proto{
        border: 3px solid rgba(255,255,255,.1);
        width: 19%;
        height:85%;
        float: left;
        margin-left: 1em;
        transform: translateX(10%);
    }
    
}

@media only screen and (min-width:1600px) {
    body{
        font-size: 22px;
    }
    .content{
        padding:0 4em !important;
    }
    .right{
        padding:0 !important ;
    }
}
