body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
  h3{
    color: coral;
    margin-left: 25px;
  }
  h2{
    color: green;
    margin-left: 25px;
  }
  p {
    margin-left: 25px;
    font-size: 20px; 
  }
  .btn{
    color: green; 
    background-color:coral;
    border-color: coral; 
    width: 110px;
    height: 40px;
    margin-left: 25px;
  }
  
  img{
    width:35%;
    height:40%;
    position: absolute;
    right: 75px;
    top: 80px;
    border-radius: 40px;
    
  }

  <!--product-area-->
  #products{
    
    color: white;
  }
  .product-area{
    background-color:rgb(205, 230, 213);
   
  }
 
  
  .btn_menu{
    background-color:white;
    border-color: white;
    width: 200px;
    height: 40px;
    color:black;
    margin-left: 100px;
  }
  
  .section-title{
    text-align: center;
    padding-top: 15px;
  }
  
  ul.product-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ul.product-content.li{
    padding:0 30px; 
   flex-basis: 25%;
   text-align:center;
   flex-direction: row;
  }
  .product-content li h4{
    margin-top: 25px; 
    font-size: 15px; 
  }
  
  .product-s{
   
   
    position: relative;
    left: -20px;
    
  }
  li{
    display: inline;
  }

  .product-image{
    position: relative;
    top: 0;
    left: 0;
    border-radius: 0;
    width: 12rem;
    height: 8rem;
  }

  
  /*about area*/
  
 
.about-left{
  padding-right: 45rem;
}
.about-btn{
  padding: 10px 30px;
  background: crimson; 
  border-radius: 50px;
  text-transform:uppercase; 
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}
#about-image1{
  position: relative;
  top: -210px !important;
  left: 670px !important;
  right: 0;
  display: inline-block;
  border-radius: 0;
  width: 15rem;
  height: 20rem;
  padding-right:10px ;
  
}
#about-image2{
  position: relative;
  top: -210px !important;
  left: 670px !important;
  right: 0;
  display: inline-block;
  border-radius: 0;
  width: 15rem;
  height: 20rem;
  
}
.about-area{
  height:80vh;
  width: auto;
}
  
/*opinions area*/
section.Opinions{
  background-color:rgb(205, 230, 213);
  width: auto;
  height: 101vh;
}
.opinions-content{

}
.opinions-top{
padding-top: 20px;
}
.opinions-image1{
  position: relative;
  top: 170px;
  right: 0;
  display: inline-block;
  border-radius: 0;
  width: 15rem;
  height: 20rem;
}
.opinions-image2{
  position: relative;
  top: -200px !important;
  left: 260px !important;
  right: 0;
  display: inline-block;
  border-radius: 0;
  width: 15rem;
  height: 23rem;
}
.opinions-image3{
  position: relative;
  top: -620px !important;
  left: 520px !important;
  right: 0;
  display: inline-block;
  border-radius: 0;
  width: 15rem;
  height: 26rem;
}
.opinions-left{
  position: relative;
  
 
  display: inline-block;
  border-radius: 0;
  width: 15rem;
  height: 20rem;
}
.opinions-right{
   position: absolute;
   left: 852px !important;
   top: 2000px;

}

/*footer area*/
.footer.footer{
  background-image: url(images/16.jpeg);
  background-position: center;
  width: 85vw;
  margin-left: 120px;
  height: 40vh;
  
}
.footer-title{
  text-align: center;
  padding-top: 30px;
}
.footer-content1{
  text-align: center;
  position: relative;
  color:rgb(205, 230, 213);
  padding-left:65px ;
}
#form{
  width: 450px;
  height:40px;
  margin-left: 220px;
  border-color: lavender;
}
.footer-button{
  height: 45px;
  width: 150px;
 position: relative;
 left: 693px !important;
 top: -45px !important;
  
}
.connect{
  position: relative;
  left: 750px;
  top: -60px;
  color: #fff;
  padding-top: 10px;
}
.connect a{
  color: white;
}
